html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 10px;
  background: #f6f7f8;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.photobooth {
  background: #ffffff;
  max-width: 52rem;
  margin: 2rem auto;
  border-radius: 2px;
  border-radius: 4px;
}

.photobooth:after {
  content: "";
  display: block;
  clear: both;
}

.photo {
  float: left;
  width: 100%;
}

.controls .btn {
  height: 50px;
  background-color: #bf4080;
  border-radius: 4px;
  border: none;
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.5;
  padding: 5px 14px;
}
.btn:hover {
  background-color: #9e5680;
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  border-radius: 4px;
}

/*
  Strip!
*/

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 4px;
}

.strip a:nth-child(5n + 1) img {
  transform: rotate(10deg);
}
.strip a:nth-child(5n + 2) img {
  transform: rotate(-2deg);
}
.strip a:nth-child(5n + 3) img {
  transform: rotate(8deg);
}
.strip a:nth-child(5n + 4) img {
  transform: rotate(-11deg);
}
.strip a:nth-child(5n + 5) img {
  transform: rotate(12deg);
}
