html {
  box-sizing: border-box;
}

*,
*:before,
* :after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(123deg, #6c6ae4 0%, #8da6eb 46%, #eeddf3 100%);
}

.menu {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.menu a {
  display: inline-block;
  padding: 5px;
  margin: 0 20px;
  color: #2f1e50;
  font-size: 20px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #2e1c4b;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 4px;
}

.wrapper {
  margin: 0 auto;
  max-width: 500px;
  font-size: 20px;
  line-height: 2;
  position: relative;
}

.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid #ffffffb8;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
